@import "tailwindcss";


:root {
  --font-temu: miui, system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    Helvetica, Arial, sans-serif, serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-temu);
}

button , a {
  cursor: pointer !important;
}


.tabs-main::-webkit-scrollbar {
  display: none;
}
.tabs-main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.mobile-promo-slider .swiper-pagination-bullet-active{
  background: black !important
}

.mobile-promo-slider .swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: white;
  opacity: 1 !important;
}

.css-1u9des2-indicatorSeparator {
  width: 0px !important;
}


/* hide default scrollbar (optional) */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }

/* ensure parent doesn't clip (if any parent sets overflow:hidden it will still clip) */
.category-filters, .filter-wrapper {
  overflow: visible;
}

@media (min-width: 100px) and (max-width: 375px) {
  .mobile-sold-num {
    font-size: 9px !important;
  }

  .delas-price-mobile {
    font-size: 12px !important;
  }
}

